<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="./css/style.css" >
</head>
<body>
    {{>header}}
    <p> My name is Bello Muhammad Bello graduate of Federal University Dutse, study Computer Science. Due to my pure love for computing get me chasing after it. <br> 
      So me in tech. wish to make somethings of great impact, meet people of greatness in tech. and also make profit from it. But the main thing i love about it is that is something you do from anywhere you are.
    </p>
    

    {{>footer}}
</body>
</html>