<!DOCTYPE html>
<html>
<head>
    <title>contact</title>
    <link rel="stylesheet" href="./css/style.css" >
</head>
<body>
    <div class="main-content" >
        {{>header}}

        <header style="color:chocolate; font-size: 34px; cursor: pointer;">
            <a href="https://www.linkedin.com/in/bello-muhammad-41b0b7168" target="_blank">linkedin</a>
            <a target="_blank" href="https://twitter.com/bellob253?t=anQXpT2FYSfGnlPylGlNbg&s=09">twitter</a>
            <a target="_blank" href="https://www.facebook.com/bello.muhammad.7106670">facebook</a>
        </header>
    </div>

    
    {{>footer}}
</body>
</html>