<!DOCTYPE html>
<html>
<head>
<title>Biodata</title>
<link rel="stylesheet" href="./css/style.css" >
<style type="text/css">
h1{
text-align:center;
}
.container{
            font-size: medium;
            padding-left:3px;
            margin: 20px;
            
        }
ul {
list-style-type:none;


}
</style>
</head>
<body>

{{>header}}

<h1>BIO-DATA</h1>
<div class="container">
        <h2>Personal Details</h2>
        <ul>
            <li>Name: Bello Muhammad Bello</li>
            <li>Nationality: Nigeria</li>
            <li>State: Gombe.</li>
            <li>Gender:  Male</li>
            <li>Marital Status: Single</li>
            <li>Age:  24</li>
            <li>Email :  bellob253"gmail.com</li>
            <li>Address: Federal low-cost gombe, gombe state.</li>
        </ul>
         </div>
<div class="container">
        <h2>Education Details</h2>
        <ul>
            <li>Degree: Bachelor Degree in Computer Science</li>
            <li>Institute Name: Federal University Dutse, Jigawa State.  </li>
            
        </ul>
         </div>
<div class="container">
        <h2>Skills </h2>
        <ul>
            <li>Javascript(Nodejs), MongoDB.</li>
            <li>and little skills with HTML, Bootstrap, and CSS.,  </li>
            
        </ul>
         </div>
<div class="container">
        <h2>Hobbies </h2>
        <ul>
            <li>Basketbell.</li>
            <li>Football.</li>
            <li>Video Games</li>
            <li>Board Games</li>
            
        </ul>
         </div>
</body>
</html>